/*main div*/
.scene {
    position: relative;
    margin: 0 auto;
    top:30px;
    width: 1000px;
    height: 600px;
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.33);
    overflow: auto;
}
/*div */
.example {
    position: relative;
    top:100px;
    width: 1000px;
    text-align: center;
    font: 36pt sans-serif;
}
/*input*/
.answer {
    position: relative;
    width: 75px;
    text-align: center;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    font-size: 36pt;
}

/*div arrow and axis*/
.numeric_axis {
    position: absolute;
    width: 875px;
    height: 150px;
    bottom: 75px;
    left:6%;
}

/*div arrow and input*/
.arrow {
    position: absolute;
    bottom: 62px;
}

.number_on_arrow input {
    width: 20px;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    font-size: 14pt;
}

.arrow.number1 {
    width: 200px;
    height: 110px;
    left: 36px;
}

.arrow.number2 {
    width: 232px;
    height: 110px;
    left: 270px;
}

.number_on_arrow {
    font: 20pt sans-serif;
    text-align: center;
}

/*img*/
.axis {
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

/*svg*/
.arrow_image {
    height: 77px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0.5;
}

.arrow_image path {
    stroke: rgb(230, 0, 92);
}

.arrow_image line {
    stroke: rgb(230, 0, 92);
}

.arrow_image.number1 {
    width: 500px;
}

.arrow_image.number2 {
    width: 500px;
}

.badValue {
    color: rgb(215, 3, 3);
}

.mark {
    background-color: #ffb122;
    border-radius: 5px;
    padding: 3px;
}
